body{
    margin: 20px;
}
.page{
    background-color: #f7f8fa;
    min-height:600px;
    margin: 20px; 
    /* overflow: auto;  */
}
header{
    background-color: #183380;
    min-height: 44px;
    padding: 10px;
    text-align: center;
}
#rayftlogo{  
    float: left;    
}
#login{
    font-size: 16px;
    color: #ffffff;
    font-weight: bolder;
    margin-right: 60px
}
#divheading{
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: bolder;
    font-size: 28px;
    color: #242a41;
    text-align: center;

}
.square{
    background-color: #ffffff;
    min-height: 319px;
    max-width: 410px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
}
#label1{
    opacity: 0.3;
    font-size: 12px;
    font-weight: bold;
    color: #242a41;
    text-align: left;
}
.login-form-field {
    border: none;
    outline: none;
    color: #242a41;
    margin-top: 5px;
    margin-bottom: 7px;
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
.h-divider{
    height: 1px;
    opacity: 0.06;
    background-color: #000000;
}
.btn-class{
    text-align: center;
    margin-top: 35px;
}
.btn{
    height: 45px;
    /* border-radius: 22.5px; */
    background-color: #20cdbb;
    min-width: 100%;
    color: #ffffff;
    /* font-size: 16px;
    font-weight: 800; */
}
#frgt_pswrd{
    font-size: 14px;
    color: #51a8d1;
    margin-top: 15px;
}
.last_line{
    text-align: center;
    margin-top: 35px;
    font-size: 14px;
    margin-bottom: 98px;
}
#no_account{
    opacity: 0.3;
    color: #242a41; 
}
#sign_up{
    color: #51a8d1;
    font-weight: bold;
}
footer{
    background-color: #1c2646;
    height: 36px;
    padding: 10px;
}
#footer{
    opacity: 0.7;
    font-size: 15px;
    color: #ffffff;
}


