body{
    margin: 2vw;
}
.page{
    background-color: #f7f8fa;
    /* min-height:600px; */
    margin: 1vw; 
    /* overflow: auto;  */
    font-family: Nunito Sans,Arial, Helvetica, sans-serif;
    font-style: normal;
}
header{
    background-color: #183380;
    /* min-height: 44px; */
    padding: 0.6vw;
    text-align: center;
}
#rayftlogo{  
    float: left;    
    padding-top: 0.2vw;
    size: 1vw;
    width: 5vw; 
}
#login{
    font-size: 1.2vw;
    color: #ffffff;
    font-weight: 500;
    margin-right: 4vw
}
#divheading{
    margin-top: 3vw;
    margin-bottom: 3vw;
    font-weight: 800;
    font-size: 2vw;
    color: #242a41;
    text-align: center;
}
.rectangle{
    background-color: #ffffff;
    /* min-height: 340px; */
    max-width: 60vw;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 3vw;
}
#div{
    padding: 2vw;
    text-align: center;
    /* min-height: 20vw; */
    max-width: 60vw;
}
.selectors{
    border-radius: 20px;
    border: solid 1px rgba(36, 42, 65, 0.2);
    background-color: #ffffff;
    /* padding: 9px 25px; */
    padding: 0.7vw;
    margin-right: 1.5vw; 
    /* margin-bottom: 18px; */
}
.text{
    opacity: 0.3;
    font-size: 1.1vw;
    font-weight: bold;
    color: #242a41;
}
.selectors:hover{
    color: #51a8d1;
    border-color:#51a8d1 ;
}
.btn-class{
    text-align: center;
    margin-top: 2vw;
}   
.btn{
    height: 3vw;
    border-radius: 22.5px;
    background-color: #20cdbb;
    min-width: 25vw;
    color: #ffffff;
    font-size: 1.4vw;
    font-weight: 800;
}
.btn:hover {
    color: #ffffff;
    text-decoration: none;
}
.last_line{
    text-align: center;
    margin-top: 2vw;
    font-size: 14px;
    margin-bottom: 3vw;
}
#skip-step{
    opacity: 0.3;
    color: #242a41; 
    font-size: 1vw;
    font-weight: 600;
}
footer{
    background-color: #1c2646;
    /* height: 36px; */
    padding: 0.6vw;
}
#footer{
    opacity: 0.7;
    font-size: 1vw;
    color: #ffffff;
}