body{
    margin: 2vw;
}
.page{
    background-color: #183380;
    text-align: center;
    /* min-height:600px; */
    margin: 1vw; 
}
#rayftlogo{
    /* margin: auto;
    display: block; */
    margin-top: 5vw;
    width: 12vw;
}
.Rectangle{
    background: linear-gradient(323deg, #112970 108%, #25439d 34%);
    max-width: 30vw;
    min-height: 27vw;
    margin: auto;
    margin-top: 4vw;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 2vw;
    font-weight: 800;   
}
.Quality-research-rep{
    color: #ffffff;
    font-size: 2vw; 
    margin: 0px;
}
.Log-In{
    border-radius: 22.5px;
    background-color: #20cdbb;
    padding: 0.7vw;
    min-width: 23vw;
    font-size: 1.1vw;
    color: #ffffff;    
    border: none;
    margin-top: 2vw;
    font-style: normal;
}
.line{
    overflow: hidden;
    text-align: center;
    color: #ffffff;
    opacity: 0.15;
    font-size: 1vw;
    margin-top: 2vw;
}
.line:before,
.line:after {
    opacity: 1.1;
    border: solid 1px #ffffff;
    content: "";
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 34%;
}
.line:before {
    right: 1.5em;
    margin-left: -14vw;
  } 
.line:after {
    left: 1.5em;
    margin-right: -14vw;
  }
.text1{
    color: #ffffff;
    font-size: 1vw;
    opacity: 0.5;
    font-weight: normal;
}
.Sign-Up{
    border-radius: 22.5px;
    background-color: #51a8d1;
    padding: 0.7vw;
    min-width: 23vw;
    font-size: 1.1vw;
    color: #ffffff;    
    border: none;
    margin-top: 2vw;
    font-style: normal;
}   
footer{
    background-color: #1c2646;
    margin-top: 5vw;
    padding: 1vw;
    text-align: left;
}
.text2{
    opacity: 0.7;
    font-size: 1vw;
    color: #ffffff;
}